body{
    background-color: #e2e2e2;
}
/*Blog1*/
.maindiv1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 6%;
    border-bottom: 0.6vw solid #d9d9d9;
    background-color: white;
    padding: 0 15px 0;
    margin: auto;
}
#img1{
    width: 5%;
    margin-left: 2%;
}
#text1{
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 7vw;
    flex: 1;
    text-align: center;
    margin-right: 50px;
}
/**/

/*Blog2*/
.maindiv2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10%;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0 15px 0;
    margin: auto;
}
.img2{
    width: 12%;
    height: auto;
}
.text2{
    font-size: 5vw;
    font-family: Calibri, sans-serif;
    text-align: center;
    flex: 1;
    margin-right: 15%;
}
/**/

/*Blog3*/
.div2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 8%;
}
.text3{
    font-family: Calibri, sans-serif;
    font-size: 4.5vw;
    flex: 1;
    margin-left: 2%;
}
.text4{
    font-family: Calibri, sans-serif;
    font-size: 4.5vw;
    text-align: right;
    flex: 1;
    margin-right: 2%;
}
/**/

/*Blog4*/
.maindiv3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 50px 15px 50px;
    margin: auto;
}
.poddiv3{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}
.podpoddiv3{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}
.png1{
    width: 15%;
    margin-right: 5%;
}
.text5{
    font-family: Calibri, sans-serif;
    font-size: 4vw;
    flex: 1;
}
.podtext5{
    font-family: Calibri, sans-serif;
    font-size: 3.5vw;
    margin-top: 5%;
    flex: 1;
}
.text6{
    font-family: Calibri, sans-serif;
    font-size: 5vw;
    flex: 1;
    text-align: right;
    margin-right: 5%;
}
.poddiv3_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}
.png2{
    width: 9%;
    margin-right: 2%;
    margin-left: 16%;
}
.text6_1{
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 6vw;
    margin-right: 2%;
    margin-top: 1%;
}
.text6_2{
    font-size: 4vw;
    font-family: Calibri, sans-serif;
    margin-top: 2%;
    margin-right: 19%;
}
.png3{
    width: 9%;
    margin-right: 5%;
}
.text7{
    font-family: Calibri, sans-serif;
    font-size: 5.5vw;
    color: #1ac6ff;
    margin-top: 2%;
}
/**/

/*Blog5*/
/*Same code with Blog4*/
.poddiv3_1_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin-top: 2%;
}
/**/

/*Blog6*/
.maindiv4{
    width: 102%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 0;
    margin-top: 5%;
}
.but{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: none;
    background-color: #4d94ff;
}
.text8{
    font-family: Calibri, sans-serif;
    font-size: 5vw; 
    color: white
}
.podtext8{
    font-family: Calibri, sans-serif;
    font-size: 4vw;
    color: white
}
/**/

/*Blog7*/
.maindiv5{
    width: 102%;
    height: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: auto;
}
/*1*/
.poddiv5{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4{
    width: 60%;
}
.text9{
    font-family: Calibri, sans-serif; 
    font-size: 3vw; 
    color: #bebebe;
}
/**/
/*5*/
.poddiv5_1{
    width: 18%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4_1{
    width: 40%;
}
/**/
/**/
