/*import*/
@import '../palette.scss';
@import '../padding.scss';
@import '../size.scss';
@import '../width.scss';
@import '../template-selectors.scss';
@import '../my-component/MyComponent.scss';
/*import*/

/*variable*/ 
$font-family: 'Roboto', sans-serif;
$border-bottom: 0.6vw solid $color-lightgrey;
/*variable*/ 

.but{
    width: toVw(375);
    height: toVw(32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: toVw(20);
    border: none;
    border-radius: none;
    background-color: $font-color-blue;
    padding: toVw(17) 0 toVw(17);
}
.text8{
    color: $color-white;
    width: toVw(375);
    text-align: center;
}
.podtext8{
    font-size: toVw(12);
    color: $color-white;
}