/*imports*/
@use 'sass:math';
// @debug math.div(10px, 5s);
@import '../palette.scss';
@import '../padding.scss';
@import '../size.scss';
@import '../width.scss';
@import '../template-selectors.scss';
/*imports*/

/*variable*/ 
$font-family: 'Roboto', sans-serif;
$border-bottom: toVw(2) solid $color-lightgrey;
$vw-base-to-px: 375;
$font-size-10px: toVw(10);
$fz-base: toVw(17);
/*variable*/ 


div {
    font-family: $font-family;
}

/*main font size*/
.basket,
.total_products,
.total_price,
.amount,
.text8{
    font-size: $fz-base;
}
/*main font size*/

/*maindiv-text*/
.text9{
    @extend %text-maindiv5;
}
/*maindiv-text*/

body{
    background-color: $color-lightgrey;
    margin: 0;
    width: toVw(375);
}
.bold{
    font-weight: 700;
}

/*function*/

  /*function*/