
@import '../palette.scss';

$font-family: 'Roboto', sans-serif;
$font-size-10px: 10px;
$fz-base: 17px;
// 
$padding-top-4px: 4px;

// 

div {
    font-family: $font-family;
}

.basket,
.total_products,
.total_price,
.washer_price,
.amount,
.text8{
    font-size: $fz-base;
}

.text9{
    @extend %text-main;
}

%text-main {
    font-size: $font-size-10px; 
    color: $font-color-grey;
    padding-top: $padding-top-4px;  
}


body{
    background-color: #F0F0F0;
    margin: 0;
    width: 100%;
}
.bold{
    font-weight: 700;
}

/*Blog1*/
.blog_basket{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 0.6vw solid #F0F0F0;
    background-color: white;
    margin: auto;
}
.arrow_area{
    width: 47.5px;
    display: flex;
    justify-content: center;
}
.arrow{
    width: 13px;
    height: 22px;
}
.basket_area{
    display: flex;
    justify-content: center;
    width: 87%;
}
.basket{
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    flex: 1;
    text-align: center;
    margin-right: 30px;
}
/**/

/*Blog2*/
.blog_delivery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: auto;
}
.truck_area{
    display: flex;
    width: 67.5px;
    justify-content: center;
}
.truck{
    width: 36px;
    height: 36px;
}
.delivery{
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    flex: 1;
}
/**/

/*Blog3*/
.blog_product{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 17px 15px 17px 15px;
}
.total_products{
    flex: 1;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}
.total_price{
    flex: 1;
    text-align: right;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}
/**/

/*Blog4*/
.blog_product1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 20px 0 20px;
    margin: auto;
    height: auto;
    border-bottom: 0.6vw solid #F0F0F0;
}
.first_area1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}
.subarea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    background-color: white;
}
.info_area{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.icons_area{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
}
.washer_area{
    width: 145px;
    display: flex;
    justify-content: center;
    height: 100%;
}
.washer{
    width: 55px;
    height: 69px;
}
.washer_inform{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
}
.washer_text{
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    flex: 1;
    margin-top: 2px;
    width: 100%;
}
.washer_podtext{
    font-size: 14px;
    margin-top: 4%;
    flex: 1;
    height: auto;
}
.washer_price_delete{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 40%;
    padding: 0 14px 5px 0;

}
.price_area{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    width: 100%;
}
.washer_price{
    height: 100%;
    font-weight: normal;
    font-style: normal;
    text-align: right;
}
.minus{
    width: 34px;
}
.amount_area{
    width: 30px;
}
.amount{
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.thing{
    font-size: 12px;
    display: flex;
    width: 40px;
    text-align: center;
    justify-content: center;
}
.plus{
    width: 34px;
}
.delete_area{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    width: 100%;
}
.delete{
    font-size: 14px;
    color: #0089D0;
    text-align: right;
}
/**/

/*Blog5*/
.book{
    width: 43px;
    height: 66px;
}
/**/

/*Blog6*/
.but{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border: none;
    border-radius: none;
    background-color: #0089D0;
    padding: 17px 0 17px;
}
.text8{
    color: white
}
.podtext8{
    font-size: 12px;
    color: white
}
/**/

/*Blog7*/
.maindiv5{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: white;
    margin: auto;
    padding: 9px 0 3px;
}
/*1*/
.poddiv5{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4{
    width: 25px;
}
/**/
/*2*/
.poddiv5_2{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4_2{
    width: 33px;
}
.text9_2{
    font-size: 10px; 
    color: #A8A8A8;
    padding-top: 4px;
}
/**/
/*3*/
.poddiv5_3{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4_3{
    width: 25px;
}
/**/
/*4*/
.poddiv5_4{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.basket_amount{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.png4_4{
    width: 24px;
}
.png4_4_1{
    width: 14px;
    position: absolute;
    margin-top: -5px;
    margin-left: 10px;

}
/**/
/*5*/
.poddiv5_5{
    width: 18%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.png4_5{
    width: 19px;
}
/**/

