@import '../../_padding.scss';
@import '../../_palette.scss';
@import '../../_size.scss';
@import '../../_template-selectors.scss';
@import '../../_width.scss';

.frame1 {
    display: flex;
    justify-content: center;
    width: toVw(2800);
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: toVw(2800);
}