@import '../_padding.scss';
@import '../_palette.scss';
@import '../_size.scss';
@import '../_template-selectors.scss';
@import '../_width.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
  display: flex;
  
}

.bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: -999;
  opacity: 0.5;
}

iframe {
  border: none;
  margin-top: toVw(20);
}

.frame1 {
  display: flex;
  justify-content: center;
  width: toVw(2900);
  align-items: center;
  
}

body {
  margin: 0;
  background: rgb(126,0,157);
  background: linear-gradient(90deg,rgba(126,0,157,1), rgba(175,41,181,1), rgba(239,0,255,1));
}

.layout {
  width: toVw(1000);
  height: toVh(2160);
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.navbar {
  width: toVw(1000);
  height: toVh(1000);
  height: auto;
  background-color: #f7555288;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: toVw(15);
  padding-bottom: toVw(15);
}